<h2>Join Title</h2>

<div class="messages">
	<ul>
		<?php if (isset($this->app()->session->messages) and count($this->app()->session->messages)) : ?>
			<?php foreach ($this->app()->session->messages as $message) : ?>
				<li><?php echo $message;?></li>
			<?php endforeach; ?>
		<?php endif; ?>
	</ul>
</div>
<?php $this->app()->set('messages', array()); ?>

<form method="post">
	<fieldset>
		<legend>Join Form</legend>
		<p><label for="email">Email:</label><input type="text" name="email"></p>
		<p><label for="password">Password:</label><input type="password" name="password"></p>
		<?php if ($this->app()->plugins->recaptcha->is_enabled()) : ?>
			<p id="recaptcha"><?php $this->app()->plugins->recaptcha->show(); ?></p>
		<?php endif; ?>
		<p><button>Join</button></p>
	</fieldset>
</form>

<?php $this->app()->debug(); ?>
