<h2>Join Title</h2>

<div class="messages">
	<ul>
		<?php if (isset($this->app()->session->messages) and count($this->app()->session->messages)) : ?>
			<?php foreach ($this->app()->session->messages as $message) : ?>
				<li><?php echo $message;?></li>
			<?php endforeach; ?>
		<?php endif; ?>
	</ul>
</div>
<?php $this->app()->set('messages', array()); ?>

<form method="post">
	<fieldset>
		<legend>Join Form</legend>
		<p><label for="username"><input type="text" name="username"></label></p>
		<p><label for="password"><input type="password" name="password"></label></p>
		<?php if ($this->app()->plugins->recaptcha->is_enabled()) : ?>
			<p><label for="recaptcha"><div id="recaptcha"><?php $this->app()->plugins->recaptcha->show(); ?></div></label></p>
		<?php endif; ?>
		<p><input type="submit" name="Join"></p>
	</fieldset>
</form>

<?php $this->app()->debug(); ?>
