<?php
	$this->app()->user->login();
?>
<h2>Login Title</h2>

<div class="messages">
	<ul>
		<?php if (isset($this->app()->user->messages) and count($this->app()->user->messages)) : ?>
			<?php foreach ($this->app()->user->messages as $message) : ?>
				<li><?php echo $message;?></li>
			<?php endforeach; ?>
		<?php endif; ?>
	</ul>
</div>

<form method="post">
	<fieldset>
		<legend>Login Form</legend>
		<p><label for="username"><input type="text" name="username"></label></p>
		<p><label for="password"><input type="password" name="password"></label></p>
		<p><input type="submit" name="Login"></p>
	</fieldset>
</form>

<?php $this->app()->debug(); ?>