<h2>Login Title</h2>

<div class="messages">
	<ul>
		<?php if (isset($this->app()->session->messages) and count($this->app()->session->messages)) : ?>
			<?php foreach ($this->app()->session->messages as $message) : ?>
				<li><?php echo $message;?></li>
			<?php endforeach; ?>
		<?php endif; ?>
	</ul>
</div>
<?php $this->app()->set('messages', array()); ?>

<form method="post">
	<fieldset>
		<legend>Login Form</legend>
		<p><label for="username">Username:</label><input type="text" name="username"></p>
		<p><label for="password">Password:</label><input type="password" name="password"></p>
		<p><button>Login</button></p>
	</fieldset>
</form>

<?php $this->app()->debug(); ?>